/* custom css */
body {
  background: black;
  color: var(--color-white);
  font-family: serif, "Noto Serif TC";
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}

.infoTemplate::after {
  content: '';
  width: 170px;
  height: 45px;
  padding: 5px 0px 0px 3px;
  background: rgba(0, 0, 0, 0.45);
  border: 2.5px solid;
  border-color: gainsboro #717070 #717070 gainsboro;
  white-space: pre-wrap;
}