/* custom css */
:root {
  --color-grey: #717070;
  --color-white: #e8e8e8;
  --color-yellow: #E9EE8B;
  --color-red: #FF1313;
}

body {
  /* 背景設定 */
  background: black;
  /* 字體設定 */
  color: var(--color-white);
  font-family: serif, "Noto Serif TC";
  font-weight: 400;
  font-size: 14px;
  line-height: 13.25px;
}

.infoTemplate::after {
  content: '';
  /* 框框樣式設定 */
  width: 150px;
  height: 40px;
  padding: 5px 0px 0px 3px;
  background: rgba(0, 0, 0, 0.45);
  border: 1.75px solid;
  border-color: var(--color-white) var(--color-grey) var(--color-grey) var(--color-white);
  /* 針對content的換行css語法 */
  white-space: pre-wrap;
}